@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.container {
  max-width: 1188px;
  margin: 0 auto;
}

::placeholder {
  color: #F5F5F5;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  z-index: 99999;
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}